fastapi
uvicorn
google-auth
python-dotenv
pyjwt
pydantic
pydantic[email]
email-validator
pymongo
selenium
beautifulsoup4
lxml 
html5lib
openai
requests
retry
mistralai
google-generativeai
numpy
scikit-learn
youtube-transcript-api
python-docx==0.8.11
fpdf==1.7.2
markdown
PyPDF2
python-multipart
weasyprint
html2docx
python-magic
pdfkit
jinja2

